*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-main: "Graphik", sans-serif;
  --color-primary: #2091f9;
  --color-light-text: #fff;
  --color-text: #252b42;
  --color-second-text: #374754;
  --color-dark-bg: #252b42;
  --color-light-bg: #fff;
  --input-placeholder-color: #18171d;
  --color-silver: #f4f4f4;
  --color-border: #d8d8d8;
  --color-white: #fff;
}

body {
  background-color: var(--color-light-bg);
  font-family: var(--font-main);
  color: var(--color-second-text);
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1248px;
  padding: 0 24px;
  margin: 0 auto;
}
